@keyframes settings-show {
    0% {
        height: 0px;
    }
    100% {
        height: 450px;
    }
}

@keyframes settings-hide {
    0% {
        height: 450px;
    }
    100% {
        height: 0px;
        display: none;
    }
}

.mobile-wrapper {
    margin: 50px auto;
    display: block;
}

.mobile-wrapper .title {
    text-align: center;
}

.mobile-wrapper .title h1 {
    font-weight: 900;
    font-style: italic;
}

.mobile-wrapper .title h5 {
    color: rgba(167, 167, 167, 0.7);
}

.mobile-wrapper .mobile {
    border: 1px solid rgba(167, 167, 167, 0.7);
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 700px;
    margin: 0px auto;
}

.mobile-wrapper .mobile #phone {
    margin: 0px auto;
    background: gray;
    width: 650px;
    height: 700px;
}

.settings-hover-layer {
    display: none;
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.5;
    position: fixed!important;
    z-index: 60;
    left: 0px;
    top: 0px;
}

.settings-hover-layer.show {
    display: block;
}

.settings-wrapper {
    display: none;
    background-color: white;
    margin: 50px auto;
    width: 80%;
    height: 0px;
    overflow: scroll;
    position: fixed!important;
    z-index: 61;
    left: 160px;
    top: 0px;
}

.settings-wrapper.show {
    display: block;
    animation: settings-show 0.5s normal cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.settings-wrapper.hide {
    display: block;
    animation: settings-hide 0.5s normal cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.settings-wrapper>h1 {
    text-align: center;
    font-style: italic;
}

.settings-wrapper .details {
    color: rgba(167, 167, 167, 0.7);
    text-align: center;
}

.settings-wrapper #close-settings {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}